@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-dark.css';

@layer base {
    * {
        @apply font-josefin
    }
    h1 {
        @apply text-5xl;
        @apply xl:text-7xl
    }
    h2 {
        @apply text-3xl;
        @apply xl:text-5xl;
    }
    h3 {
        @apply text-xl;
        @apply xl:text-3xl;
    }
    h4 {
        @apply xl:text-lg;
    }
    p {
        @apply xl:text-xl;
    }
    h1, h2, h3 {
        @apply font-playfair;
        @apply text-gold-Primary-text;
    }
    .small {
        height: 100px;
      }
      
      .medium {
        height: 200px;
      }
      
      .large {
        height: 300px;
      }
}

