footer {
    display: flex;
    flex-direction: row;
    background-color: #30334B;
    border-top: solid 3px #C9C9C9;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color:#C9C9C9;
        .logo {
            width: 66px;
            height: 66px;
            margin-left: 15px;
        }
        a {
            color:#C9C9C9;
        }
        .footer_bar {
            display: flex;
            flex-direction: column;
            gap:5px;
        }
        h3 {
            @include font-property(1.1em, 'Bebas Neue', none)
        }
    
}