@charset "UTF-8";
.nav__bouton1.active {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}

.nav__bouton2.active {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}

.nav__bouton3.active {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}

.nav__bouton4.active {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}

header {
  background-color: #302E2F;
  border-bottom: solid 3px #7D7E8A;
  display: flex;
  flex-direction: row;
  padding: 25px;
}
header .logo {
  width: 66px;
  height: 66px;
  margin-left: 15px;
}
header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}
header a {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-shadow: none;
  color: #C9C9C9;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}
header a:hover {
  background-color: #30334B;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #30334B;
  border-top: solid 3px #C9C9C9;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  color: #C9C9C9;
}
footer .logo {
  width: 66px;
  height: 66px;
  margin-left: 15px;
}
footer a {
  color: #C9C9C9;
}
footer .footer_bar {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.1em;
  text-shadow: none;
}

* {
  margin: 0;
}

main {
  background-color: #7D7E8A;
}
main .main__section1 {
  background-image: url("../Images/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 470px;
  border-bottom: solid 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main__section1 img {
  width: 66px;
  height: 66px;
  margin-top: 110px;
}
main .main__section1 .main_contain {
  height: 500px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #C9C9C9;
  text-align: center;
}
main .main__section1 .main_contain h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}
main .main__section1 .main_contain h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.8em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
main .main__section2 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: solid 3px black;
}
main .main__section2 img {
  margin-top: 25px;
  border: solid 3px black;
  border-radius: 25px;
  width: 400px;
  height: 850px;
  margin-right: 10px;
}
main .main__section2 .main_contain {
  display: flex;
  color: #C9C9C9;
  flex-direction: column;
  margin-top: 25px;
  padding: 10px;
  background-color: #6f707a;
  border-radius: 15px;
  border: solid 4px #C9C9C9;
}
main .main__section2 .main_contain iframe {
  border: solid 4px #C9C9C9;
  margin: 25px;
  padding: 10px;
}
main .main__section2 .main_contain h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.8em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 50px;
}
main .main__section2 .main_contain p {
  color: #C9C9C9;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-shadow: none;
  margin-left: 25px;
  color: black;
  text-align: start;
  margin-bottom: 25px;
}
main .back_client {
  width: auto;
  height: 500px;
  margin-top: 50px;
  font-family: "Bebas Neue", sans-serif;
  color: #C9C9C9;
  font-size: 1.8em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cta {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #C9C9C9;
  border-radius: 100% 0% 100% 0%/100% 0% 100% 0%;
  height: 75px;
  width: 100px;
  padding: 25px;
  background-color: #DE3838;
  margin: auto;
  transition: transform 400ms;
}
.cta:hover {
  transform: scale(1.2);
  transition-duration: 500ms;
}

.main__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
.main__contact .contact__map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  /* Vous pouvez ajouter des styles supplémentaires pour la carte ici si nécessaire */
}
.main__contact .contact-form {
  background-image: url(../Slidshow/image4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%;
  text-align: center;
  width: 85%;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #C9C9C9;
  font-family: "Bebas Neue", sans-serif;
  font-size: 0.9em;
  text-shadow: none;
}
.main__contact .contact-form input {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

#map {
  width: 100%;
  height: 100%;
}
#map iframe {
  width: 100%;
  height: 100%;
  border: solid 5px #C9C9C9;
  border-radius: 6px;
}/*# sourceMappingURL=style.css.map */