    // Import des fichiers partiels pour les styles du header, footer et les variables.
    @import 'header';
    @import 'footer';
    @import 'variable';
*{
    margin :0;
}

    // Styles pour la section principale de l'accueil.
    main {
        //..
        background-color: $background-main;
        // Styles pour la première section de la page d'accueil.
        .main__section1 {
            //..
            background-image: url("../Images/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 470px;
            border-bottom: solid 3px black;
            display: flex;
            flex-direction: column;
            align-items: center;
            // Styles pour les images de la section 1.
                img {
                    //...
                    width: 66px;
                    height: 66px;
                    margin-top: 110px;
                }
                // Styles pour le contenu principal de la section 1.
                .main_contain {
                    height: 500px;
                    align-items: center;
                    justify-content: center;
                    gap:10px;
                    color: $font-color-prim;
                    text-align: center;
                        h1 {
                            @include font-property(2.5em,$title-font, $shadow-title);
                            margin-top: 50px;   
                        }
                        h2 {
                            @include font-property(1.8em,$title-font,$shadow-title);
                        }
                } 
        }
        // Styles pour la seconde section de la page d'accueil.
        .main__section2{
            display: flex;
            gap: 20px;
            justify-content: space-between;
            padding-bottom: 25px;
            border-bottom:solid 3px black;
            img {
                margin-top: 25px;
                border: solid 3px black;
                border-radius: 25px;
                width: 400px;
                height: 850px;
                margin-right: 10px;
            }
            
            .main_contain {
                display: flex;
                color: $font-color-prim;
                flex-direction: column;
                margin-top: 25px;
                padding: 10px;
                background-color: $background-second;
                border-radius: 15px;
                border: solid 4px $font-color-prim;
                iframe {
                    border: solid 4px $font-color-prim;
                    margin: 25px;
                    padding: 10px;
                     }   
                h2 {
                        @include font-property(1.8em,$title-font, $shadow-title);
                        text-align: center;
                        margin-bottom: 50px;
                    }
                p{
                        color: $font-color-prim;
                        @include font-property(1em,$normal-font,none);
                        margin-left: 25px;
                        color:black;
                        text-align:start;
                        margin-bottom: 25px;
                    }
                    
            }  
        }
        //Style pour le retour client page d'accueil.
        .back_client {
        width: auto;
        height: 500px;
        margin-top: 50px;
        font-family: 'Bebas Neue', sans-serif;
        color: $font-color-prim;
        font-size: 1.8em;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
        }
    }
    
    //Styles pour le CTA de toutes les pages
.cta {
        @include font-property(2em,'Bebas Neue',2px 2px 4px rgba(0, 0, 0, 0.5));
        color: $font-color-prim;
        border-radius: 100% 0% 100% 0% / 100% 0% 100% 0% ;
        height: 75px;
        width: 100px;
        padding: 25px;
        background-color: #DE3838;
        margin: auto;
        transition: transform 400ms;
            &:hover {
                transform: scale(1.2);
                transition-duration: 500ms;
            }
        

    }

    //Style pour la page de contact

.main__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap:10px;
        .contact__map {
            width: 100%;
            height: 400px;
            margin-bottom: 20px;
        
            /* Vous pouvez ajouter des styles supplémentaires pour la carte ici si nécessaire */
        }
        .contact-form {
            background-image: url(../Slidshow/image4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center 60%;
            text-align: center;
            width: 85%;
            padding: 20px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            color:$font-color-prim;
            @include font-property(0.9em, 'Bebas Neue', none);
            input {
                padding: 5px;
                margin-right: 10px;
                border-radius: 5px;
                margin-bottom: 15px;
            }
        }
    } 
#map {
        width: 100%;
        height: 100%;
        iframe {
            width: 100%;
            height: 100%;
            border: solid 5px $font-color-prim;
            border-radius: 6px;
        }
    }

    //Style pour la page agendapresta

// teste calendrier

