$background-main:#7D7E8A;
$font-color-prim:#C9C9C9;
$background-second:#6f707a;
$header-color:#302E2F;
$footer-color:#30334B;
$shadow-title:2px 2px 4px rgba(0, 0, 0, 0.5);
$title-font:"Bebas Neue";
$normal-font:"Raleway";

@mixin font-property($font-size, $font-family, $text-shadow:none) {
        font-family: $font-family, sans-serif;
        font-size: $font-size;
        text-shadow: $text-shadow;
    }